<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />

  <head>
      <title>Code Stats <py:if test="author">(${author})</py:if></title>
  </head>

<body>
<div id="content" class="wiki">

<div class="trac-modifiedby">
    For <a href="${last_1m}">last month</a>,
    <a href="${last_12m}">last year</a>, or
    <a href="${last_all}">all time</a>
</div>

<h1>Statistics - Code</h1>

<table>
<py:if test="author">
<tr><td width="150">Author</td><td align="right">${author}</td></tr>
</py:if>
<tr><td width="150">Head Revision</td><td align="right">${maxrev}</td></tr>
<tr><td width="150">First revision</td><td align="right">${mintime}</td></tr>
<tr><td width="150">Last revision</td><td align="right">${maxtime}</td></tr>
<tr><td width="150">Repository age</td><td align="right">${age}</td></tr>
<tr><td width="150">Developers</td><td align="right">${developers}</td></tr>
<tr><td width="150">Commits</td><td align="right">${commits}</td></tr>
<tr><td width="150">Commits-per-year</td><td align="right">${commitsperyear}</td></tr>
<tr><td width="150">Commits-per-month</td><td align="right">${commitspermonth}</td></tr>
<tr><td width="150">Commits-per-day</td><td align="right">${commitsperday}</td></tr>
<tr><td width="150">Commits-per-hour</td><td align="right">${commitsperhour}</td></tr>
<tr><td width="150">Average log entry</td><td align="right">${logentry}</td></tr>
<tr><td width="150">Average changes</td><td align="right">${changes}</td></tr>
</table>

<py:if test="totalfiles">
<br />

<h2>Total Files</h2>

<div id="totalfiles" style="width:600px;height:300px;"></div>

<script language="javascript" type="text/javascript">
$(function () {

    var options = {
        lines: { show: true, fill: true },
        xaxis: { mode: "time", timeformat: "%d %b %y" }, 
        colors: [ "#afd8f8" ],
    };

    var d = [<py:for each="stat in totalfiles">[${stat.x}, ${stat.y}]<py:if 
                     test="stat != totalfiles[-1]">,</py:if></py:for>];

    $.plot($("#totalfiles"), [ d ], options);
});
</script>
</py:if>

<br />

<h2>Commits by time</h2>

<div id="totalcommits" style="width:600px;height:300px;"></div>

<script language="javascript" type="text/javascript">
$(function () {

    var options = {
        lines: { show: true, fill: true },
        xaxis: { mode: "time", timeformat: "%d %b %y" }, 
    };

    var d = [<py:for each="stat in totalcommits">[${stat.x}, ${stat.y}]<py:if 
                     test="stat != totalcommits[-1]">,</py:if></py:for>];

    $.plot($("#totalcommits"), [ d ], options);
});
</script>

<br />

<h2>Commits by author</h2>

<table id="commitsbyauthor" class="tablesorter">
<thead>
<tr>
    <th>Author</th>
    <th>Commits</th>
    <th>Rate</th>
    <th>Changes</th>
    <th>Paths</th>
</tr>
</thead>
<tbody>
<py:for each="stat in byauthors">
<tr>
    <td width="150"><a href="${stat.url}">${stat.name}</a></td>
    <td width="100" align="right">${stat.commits}</td>
    <td width="100" align="right">${stat.rate}</td>
    <td width="100" align="right">${stat.changes}</td>
    <td width="100" align="right">${stat.paths}</td>
</tr>
</py:for>
</tbody>
</table>

<script language="javascript" type="text/javascript">
$(document).ready(function() 
    {
        $("#commitsbyauthor").tablesorter( {sortList: [[1,1]]} ); 
    }
);
</script>

<br />

<h2>Commits by month</h2>

<div id="commitsbymonth" style="width:600px;height:200px;"></div>

<script language="javascript" type="text/javascript">
$(function () {

    var options = {
        lines: { show: true, fill: true },
        xaxis: { mode: "time", timeformat: "%d %b %y" }, 
        colors: [ "#afd8f8" ],
    };

    var d = [<py:for each="stat in bymonth">[${stat.x}, ${stat.y}]<py:if 
                     test="stat != bymonth[-1]">,</py:if></py:for>];

    $.plot($("#commitsbymonth"), [ d ], options);
});
</script>

<br />

<h2>Commits by day of week</h2>

<div id="commitsbyday" style="width:500px;height:200px;"></div>

<script language="javascript" type="text/javascript">
$(function () {

    var options = {
        grid: { tickColor: "white" },
        bars: { show: true, fill: true },
        xaxis: { ticks: [[0.5,"Sun"],[1.5,"Mon"],[2.5,"Tue"],[3.5,"Wed"],
                         [4.5,"Thu"],[5.5,"Fri"],[6.5,"Sat"]] }, 
        colors: [ "#afd8f8" ],
    };

    var d = [<py:for each="stat in byday">[${stat.x}, ${stat.y}]<py:if 
                     test="stat != byday[-1]">,</py:if></py:for>];

    $.plot($("#commitsbyday"), [ d ], options);
});

</script>

<br />

<h2>Commits by hour of day</h2>

<div id="commitsbyhour" style="width:500px;height:200px;"></div>

<script language="javascript" type="text/javascript">
$(function () {

    var options = {
        lines: { show: true, fill: true },
        xaxis: { ticks: [[0.5,"00:00"],[2.5,"02:00"],
                         [4.5,"04:00"],[6.5,"06:00"],
                         [8.5,"08:00"],[10.5,"10:00"],
                         [12.5,"12:00"],[14.5,"14:00"],
                         [16.5,"16:00"],[18.5,"18:00"],
                         [20.5,"20:00"],[22.5,"22:00"]] },
        colors: [ "#afd8f8" ],
    };

    var d = [<py:for each="stat in byhour">[${stat.x}, ${stat.y}]<py:if 
                     test="stat != byhour[-1]">,</py:if></py:for>];

    $.plot($("#commitsbyhour"), [ d ], options);
});

</script>

<br />

<h2>Recent commits</h2>

<table>
<py:for each="stat in recent">
<tr>
    <td width="50"><a href="${stat.url}">${stat.rev}</a></td>
    <td width="150"><a href="${stat.url2}">${stat.author}</a></td>
    <td width="350">${stat.name}</td>
    <td width="100" align="right">${stat.time}</td>
</tr>
</py:for>
</table>

<br />

<h2>Activity by time</h2>

<div id="totalchanges" style="width:600px;height:300px;"></div>

<script language="javascript" type="text/javascript">
$(function () {

    var options = {
        lines: { show: true, fill: true},
        xaxis: { mode: "time", timeformat: "%d %b %y" }, 
    };

    var d = [<py:for each="stat in totalchanges">[${stat.x}, ${stat.y}]<py:if 
                     test="stat != totalchanges[-1]">,</py:if></py:for>];

    $.plot($("#totalchanges"), [ d ], options);
});
</script>

<br />

<h2>Activity by author</h2>

<table id="activitybyauthor" class="tablesorter">
<thead>
<tr>
    <th>Author</th>
    <th>Commits</th>
</tr>
</thead>
<tbody>
<py:for each="stat in byauthors">
<tr>
<td width="150"><a href="${stat.url}">${stat.name}</a></td>
<td width="420" align="right">
<span id="byauthor${stat.id}">Loading...</span>
<script language="javascript" type="text/javascript">
$(document).ready(function()
    {
        var values = [<py:for each="week in stat.weeks">${week.total}<py:if 
                              test="week != stat.weeks[-1]">,</py:if></py:for>];
        $("#byauthor${stat.id}").sparkline(values, {
                                type: "bar",
                                barColor: "lightgray",
                                barWidth: 7,
                              });
    }
);
</script>
</td>
</tr>
</py:for>
</tbody>
</table>

<script language="javascript" type="text/javascript">
$(document).ready(function()
    {
        $("#activitybyauthor").tablesorter( {sortList: [[0,0]]} );
    }
);
</script>

<br />

<h2>Activity by project</h2>

<table id="activitybyproject" class="tablesorter">
<thead>
<tr>
    <th>Project</th>
    <th>Commits</th>
    <th>Changes</th>
    <th>Paths</th>
</tr>
</thead>
<tbody>
<py:for each="stat in byproject">
<tr>
    <td width="150"><a href="${stat.url}">${stat.name}</a></td>
    <td width="100" align="right">${stat.commits}</td>
    <td width="100" align="right">${stat.changes}</td>
    <td width="100" align="right">${stat.paths}</td>
</tr>
</py:for>
</tbody>
</table>

<script language="javascript" type="text/javascript">
$(document).ready(function()
    {
        $("#activitybyproject").tablesorter( {sortList: [[1,1]]} );
    }
);
</script>

<br />

<h2>Most active paths</h2>

<table>
<py:for each="stat in bypaths">
<tr>
    <td width="400"><a href="${stat.url}">${stat.name}</a></td>
    <td width="75" align="right">${stat.count}</td>
    <td width="75" align="right">${stat.percent}%</td>
</tr>
</py:for>
</table>

<br />

<h2>Most active files</h2>

<table>
<py:for each="stat in byfiles">
<tr>
    <td width="400"><a href="${stat.url}">${stat.name}</a></td>
    <td width="75" align="right">${stat.count}</td>
    <td width="75" align="right">${stat.percent}%</td>
</tr>
</py:for>
</table>

<br />

<h2>Activity by filetype</h2>

<table>
<py:for each="stat in byfiletypes">
<tr>
    <td width="150">${stat.name}</td>
    <td width="75" align="right">${stat.count}</td>
    <td width="75" align="right">${stat.percent}%</td>
</tr>
</py:for>
</table>

<br />

<h2>Activity by change type</h2>

<table class="changetypes" cellspacing="0" cellpadding="0">
<py:for each="stat in bychangetypes">
<tr>
    <td width="150"><a href="${stat.url}">${stat.name}</a></td>
<td>
  <div style="border: 1px darkgray solid;">
    <div py:if="stat.adds" class="add" style="float: left; height: 12px; width:${stat.adds*3}px;">&nbsp;</div>
    <div py:if="stat.copies" class="copy" style="float: left; height: 12px; width:${stat.copies*3}px;">&nbsp;</div>
    <div py:if="stat.deletes" class="delete" style="float: left; height: 12px; width:${stat.deletes*3}px;">&nbsp;</div>
    <div py:if="stat.edits" class="edit" style="float: left; height: 12px; width:${stat.edits*3}px;">&nbsp;</div>
    <div py:if="stat.moves" class="move" style="float: left; height: 12px; width:${stat.moves*3}px;">&nbsp;</div>
    <div style="clear: both;"></div>
  </div>
</td>
</tr>
</py:for>
</table>
<div class="legend">
<dl>
  <dt class="add"></dt><dd>added</dd>
  <dt class="copy"></dt><dd>copied</dd>
  <dt class="delete"></dt><dd>deleted</dd>
  <dt class="edit"></dt><dd>edited</dd>
  <dt class="move"></dt><dd>moved</dd>
</dl>
</div>

<br />

<h2>Commit cloud</h2>

<div style="width:600px;">
<py:for each="stat in cloud">
<a style="font-size: ${stat.size};" href="${stat.url}">${stat.word}</a>&nbsp;
</py:for>
</div>

<br />
<br />

</div>

</body>
</html>

