
li {
    padding: 2px;
}


table.changetypes .edit, .legend .edit { background: #fd8 }
table.changetypes .delete, .legend .delete { background: #f88 }
table.changetypes .add, .legend .add { background: #bfb }
table.changetypes .copy, .legend .copy { background: #88f }
table.changetypes .move, .legend .move { background: #ccc }
table.changetypes .unknown, .legend .unknown { background: #fff }

table.changetypes td {
    padding: 1px 2px;
    margin: 2px 2px 2px 0;
}

/* Legend for diff and file colors */
.legend { 
 font-size: 9px;
 line-height: 1em;
 padding: .5em 0;
}
.legend h3 { display: none; }
.legend dt {
 background: #fff;
 border: 1px solid #999;
 float: left;
 margin: .1em .5em .1em 0;
 overflow: hidden;
 width: .8em; height: .8em;
}
.legend dl {
 display: inline;
 padding: 0;
 margin: 0;
 margin-right: .5em;
}
.legend dd {
 display: inline;
 float: left;
 padding: 0;
 margin: 0;
 margin-right: 2em;
}

/* tables */
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    border-bottom: 1px solid lightgray;
    font-size: 8pt;
    padding: 2px;
}
table.tablesorter thead tr .header {
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    font-weight: bold;
}

